
    .header {
        border: 1px solid black;
        border-radius: 5px;
        background-color:green;
        min-height: 100px;
    }
    .menu div{
        color:orangered;
        margin:auto;
        text-align: left;
    }
    form {
        padding-top: 30px;
    }
    
    .footer {
        border: 1px solid black;
        border-radius: 5px;
        background-color:red;
        min-height: 100px;
    }

    .content {
        min-height: 540px;
    }
    .c1 {
        border: 1px solid black;
    }
    .c2 {
        border: 1px solid black;
    }
    .c3 {
        border: 1px solid black;
    }